.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100px;
  padding: 20px;
  background-color: white;
  /* border: 1px solid black; */
  border-radius: 15px;
  font-weight: 700;
  max-width: 250px;
}

.subtotal__gift {
  display: flex;
  align-items: center;
}
.subtotal__giftIcon {
  color: rgb(255, 7, 123) !important;
  margin-left: 5px;
}

.subtotal__gift > input {
  margin-right: 5px;
}

.subtotal > button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  border-color: #a88734 #9c7e32 #846a29;
  border-radius: 10px;
}

.subtotal * .MuiSvgIcon-root {
  /* display: flex;
    flex-wrap: wrap; */
  margin-left: 5px;
  color: rgb(255, 196, 0);
}

.total > span {
  color: green;
}
